@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.map-chart-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.map-image {
  width: 1000px;
  height: 800px;
  object-fit: contain;
  object-position: top left;
  margin-top: 200px;
}


a:hover {
  color: #535bf2;
}

.tab-link {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.tab-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: red;
  transition: width 0.3s ease;
}

.tab-link:hover::after {
  width: 100%;
}


.tab-link:hover {
  color: red;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  position: relative;
  z-index: 10;
}
.sign-in-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 18px 36px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in-btn i {
  z-index: 10;
  font-size: 1.4rem;
  margin-left: 8px;
}


.sign-in-btn:hover {
  background-color: white;
  color: red;
  border-color: red;
}
.rsm-geography {
  fill: rgb(214, 214, 218);
  outline: none;
  transition: 300ms;
  stroke: var(--background-black);
  stroke-dasharray: 0px;
  stroke-width: 0.1px;
  cursor: pointer;
  transform: translateX(140px);
}

.relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.rsm-geography:hover {
  fill: red;
}
.map-tooltip {
  position: fixed;
  background-color: #333;
  color: white;
  padding: 8px;
  border-radius: 4px;
  z-index: 1000;
  pointer-events: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translate(10px, -50%);
  max-width: 200px;
  font-size: 14px;
}
.tooltip {
  pointer-events: none;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
.map-image {
  width: 1000px;
  height: 800px;
  object-fit: contain;
  object-position: top left;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.homepage-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


html, body, #root {
  height: 100%;
}


body {
  display: block;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
